<div class="row" *ngIf="candidateDetails?.id">
    <div class="col-12 col-md-4">
        <h6>{{ candidateDetails.applyingForPosition }}</h6>
        <p>
            <b>Name:</b> {{ candidateDetails.firstName }}
            {{ candidateDetails.lastName }}
        </p>
        <p><b>Email:</b> {{ candidateDetails.email }}</p>
        <p><b>Mobile Number:</b> {{ candidateDetails.mobileNumber }}</p>
        <p><b>Date of Birth:</b> {{ candidateDetails.dob | date }}</p>
    </div>
    <div class="col-12 col-md-4">
        <h6>Questionnaire:</h6>
        <p *ngFor="let question of questions">
            <b>{{ question.question }}:</b>
            {{ question.response }}
        </p>
    </div>
    <div class="col-12 col-md-4 text-right">
        <button
            type="button"
            class="btn btn-outline-info"
            (click)="navigateToScreening()"
        >
            Screening Link
        </button>
    </div>
</div>
