@import "../../../../../../assets/styles/variables";

.footer {
    border-top: 1px solid #dee2e6 !important;
    min-height: $footer-height;

    p {
        margin-bottom: 0;
    }
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}