@import "../../../../assets/styles/variables";

.not-found-wrap {
  background-position-y: bottom;
  background-size: cover;
  background-size: 100%;
  height: calc(100vh - #{$header-height});
  background-repeat: no-repeat;
  padding: 120px 0;

  h1 {
    font-weight: 800;
    margin-bottom: 16px;
    line-height: 1;
    font-size: 60px;
  }

  .subheading {
    font-weight: 800;
    font-size: 30px;
  }
}