<div class="my-2">
    <div class="text-right">
        <b class="float-left ml-2">Candidates</b>
        <button class="btn btn-outline-warning btn-sm mr-2" type="button" (click)="toggleFilter()"
            [ngClass]="{  'btn-outline-warning' :!filter, 'btn-outline-success': filter}">
            Filter
        </button>
    </div>
    <div *ngIf="filter" class="mx-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="DELETED">
            <label class="form-check-label" for="inlineCheckbox4">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="SELECTED">
            <label class="form-check-label" for="inlineCheckbox5">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="REJECTED">
            <label class="form-check-label" for="inlineCheckbox6">2</label>
        </div>
    </div>
</div>
<div class="candidates">
    <div class="candidate card in-active"
        [ngClass]="{  'active' :selectedCandidate === candidate.id, 'in-active': selectedCandidate !== candidate.id}"
        *ngFor="let candidate of candidates" (click)="viewDetails(candidate)">
        <div class="card-body">
            <p class="name">
                {{ candidate.firstName }} {{ candidate.lastName }}
            </p>
            <p class="email">{{candidate.email}}</p>
            <p class="phone">{{candidate.mobileNumber}}</p>
        </div>
    </div>
</div>
