<div class="container-fluid pt-1">
    <div class="row">
        <div class="col-12">
            <mat-stepper
                class="example-stepper"
                [orientation]="(stepperOrientation | async)!"
            >
                <mat-step label="Start" editable="false">
                    <div class="row" *ngIf="screeningDetails?.id">
                        <div class="col-12 col-md-6">
                            <p class="">
                                Hello {{ screeningDetails.candidateFirstName }},
                                welcome To InterviewMAite!
                            </p>
                            <p>
                                You have applied for the position
                                {{ screeningDetails.appliedPosition }}.
                            </p>
                            <p class="mt-4">
                                Phone:
                                {{ screeningDetails.candidatePhoneNumber }}
                            </p>
                            <p>Email: {{ screeningDetails.candidateEmail }}</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <video controls autoplay class="video">
                                <source
                                    src="assets/videos/intro.mp4"
                                    type="video/mp4"
                                />
                            </video>
                        </div>
                        <div class="col-12 text-right mt-4">
                            <button
                                type="button"
                                mat-button
                                mat-raised-button
                                color="primary"
                                matStepperNext
                                (click)="getScreeningQuestion()"
                            >
                                Start
                            </button>
                        </div>
                    </div>
                </mat-step>

                <mat-step label="Question" editable="false">
                    <div class="row">
                        <div
                            class="col-12 col-md-6"
                            *ngIf="question?.questionId"
                        >
                            <video controls autoplay class="video">
                                <source
                                    [src]="question.questionLink"
                                    type="video/mp4"
                                />
                            </video>
                            <h6 class="mt-3">
                                <b>Q:</b> {{ question.questionText }}
                            </h6>
                        </div>
                        <div class="col-12 col-md-6">
                            <video #videoElement class="video">
                                <source
                                    *ngIf="!isVideoRecording && videoBlobUrl"
                                    [src]="videoBlobUrl"
                                />
                            </video>
                        </div>
                        <div class="col-12 text-right mt-4">
                            <div class="mt-5 mb-3">
                                <button
                                    class="start-button"
                                    *ngIf="!isVideoRecording && !videoBlobUrl"
                                    (click)="startVideoRecording()"
                                >
                                    Start Video Recording
                                </button>
                                <button
                                    class="stop-button"
                                    *ngIf="isVideoRecording && !videoBlobUrl"
                                    (click)="stopVideoRecording()"
                                >
                                    Stop Video Recording
                                </button>
                                <button
                                    class="cancel-button"
                                    *ngIf="!isVideoRecording && videoBlobUrl"
                                    (click)="clearVideoRecordedData()"
                                >
                                    Clear Video Recording
                                </button>
                                <button
                                    class="download-button"
                                    *ngIf="!isVideoRecording && videoBlobUrl"
                                    (click)="downloadVideoRecordedData()"
                                >
                                    Download Video Recording
                                </button>
                                <div
                                    id="videoTimer"
                                    *ngIf="isVideoRecording && !videoBlobUrl"
                                >
                                    {{ videoRecordedTime }}
                                </div>
                            </div>
                            <button
                                type="button"
                                mat-button
                                mat-raised-button
                                color="secondary"
                                matStepperNext
                                class="mr-4"
                                (click)="getScreeningQuestion()"
                            >
                                Skip
                            </button>

                            <button
                                type="button"
                                mat-button
                                mat-raised-button
                                color="primary"
                                matStepperNext
                                (click)="getScreeningQuestion()"
                            >
                                Next
                            </button>
                        </div>
                    </div>
                </mat-step>

                <mat-step editable="false">
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div></div>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>
